.botonCrearTarea {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.botonAgregarTarea {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    background: #d7d4d4;
    box-shadow: 0 5px 10px rgba(114, 80, 255, 0.2);
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.25s ease, transform 0.15s ease;
    border: none;
    outline: none;
    
}
.agregarTarea{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin: 12px;
    padding: 10px 15px;
}
.botonAgregarTarea:hover {
    color: #ffffff;
    background: linear;
    transform: translateY(-2px);
    box-shadow: 0 20px 10px rgba(114, 80, 255, 0.2);
}