
.card{
    padding: 30px;
    background-color: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.span{
    display: block;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: opacity 0.5s ease max-height 0.5s ease;
}

.card:hover{
    color: aqua;
    transform: translateY(-20px);
    transition: 0.5s;
}

.card:hover + span{
    opacity: 1;
    max-width: 40px;
}