

.titulo{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    background: #EDE6FF;
    box-shadow: 0 20px 40px rgba(114, 80, 255, 0.25);
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    padding: 10px 15px;
    margin: 10px 15px;
    border: 1px solid black;
    border-radius: 15px;
}

label {
  font-weight: 600;
  color: #333;
}
input,
select {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #DDD;
  font-size: 14px;

}
select{
    margin: 10px;
}

input:focus, select:focus{
    outline: none;
    border-color: #7250FF;
    box-shadow: 0 0 0 3px rgbs(114, 80, 255, 0.2);
}

.aceptar {
    margin-top: 22px;
    margin: 0 auto;
    padding: 12px 20px;
    width: 30%;
    border-radius: 12px;
    border: none;
    background: #d7d4d4; /* Fondo inicial gris */
    color: #333;           /* Color inicial del texto */
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(114, 80, 255, 0.2); /* sombra inicial suave */

    /* Transiciones para todo lo que cambia */
    transition: background 0.5s ease, 
                color 0.5s ease, 
                transform 0.15s ease, 
                box-shadow 0.25s ease;
}

.aceptar:hover {
    color: #ffffff; /* texto blanco en hover */
    background: linear-gradient(145deg, #7250FF, #FFC857); /* gradiente */
    box-shadow: 0 10px 20px rgba(114, 80, 255, 0.3); /* sombra más grande */
}

.aceptar:focus {
    transform: translateY(-2px); /* botón se eleva un poco al focus */
    outline: none; /* quitamos el borde de focus por defecto */
}
