

.titulo{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    background: #EDE6FF;
    box-shadow: 0 20px 40px rgba(114, 80, 255, 0.25);
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    padding: 10px 15px;
    margin: 10px 15px;
    border: 1px solid black;
    border-radius: 15px;
}

label {
  font-weight: 600;
  color: #333;
}
input,
select {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #DDD;
  font-size: 14px;

}
select{
    margin: 10px;
}

input:focus, select:focus{
    outline: none;
    border-color: #7250FF;
    box-shadow: 0 0 0 3px rgbs(114, 80, 255, 0.2);
}

button{

    margin-top: 12px;
    margin: 0 auto;
    padding: 12px;
    width: 30%;
    border-radius: 12px;
    border: none;
    background: linear-gradient(
        145deg,
         #7250FF,
    #FFC857
    );
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition:  transform 0.15s, box-shadow 0.15s, color 0.75s;
}
button:hover{
    color: #333;
    box-shadow: 0 10px 20px rgba(114, 80, 255, 0.3);
}
button:focus{
    transform: translateY(-2px);
}