@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.tablero {
  padding: 0 10px;
  position: obsolute;
  letter-spacing: 2px;
  margin: 30px 10;
}

.titulo {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-size: 5rem;
  color: #e6d9ff;
  /*
    color: #4ADE80;
    */
  padding: 0 30px;
}
