@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #7250FF;
  color: #E4E4E4;
  line-height: 1.5;
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}
.page{
  width: 100%;
  height: 100%;
}
.slide-in{
  animation: slideIn 0.4s ease-out;
}


@keyframes slideIn{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}